<app-container>
  <div class="mb-20 mt-28">
    <div
      *ngIf="bossesChecklists !== null && selectedCharacter !== null"
      class="flex flex-col items-center justify-between md:mb-4 lg:flex-row"
    >
      <span class="flex items-center justify-center h-8 overflow-hidden font-light whitespace-nowrap overflow-ellipsis">
        <img src="assets/images/misc/meso.png" alt="Meso icon" class="hidden mr-2 md:inline-block" />
        <span class="hidden md:inline-block">Total amount of actual vs. potential mesos earned weekly:</span>
        <span class="inline-block md:hidden">Actual/potential mesos:</span>
        <span class="ml-1">
          {{ actualWeeklyMesosEarned() | mesos }} /
          {{ bossesChecklists.totalWeeklyMesos | mesos }}
        </span>
        <span class="hidden md:inline-block">&nbsp; ({{ getPercentageOfActuallyEarnedMesos() }})</span>
      </span>
      <span class="flex items-center justify-center h-8 mb-3 overflow-hidden font-light md:mb-0 whitespace-nowrap overflow-ellipsis">
        <img src="assets/images/misc/intense-power-crystal.png" alt="Intense power crystal icon" class="hidden mr-2 md:inline-block" />
        <span class="hidden md:inline-block">Total amount of intense power crystals:</span>
        <span class="inline-block md:hidden">Intense Power Crystals:</span>
        <span>&nbsp; {{ bossesChecklists.totalAmountOfPowerCrystals }}</span>
      </span>
    </div>

    <div
      *ngIf="bossesChecklists !== null && selectedCharacter !== null; else noSelectedCharacter"
      class="grid items-start grid-cols-1 gap-4 lg:grid-cols-2"
    >
      <app-bosses-checklist
        [bosses]="bossesChecklists.dailyBosses"
        (selectBoss)="onSelectBoss($event)"
        (bossAmountOperation)="onBossAmountOperation($event)"
        (toggleCompletion)="onToggleCompletion($event)"
        (toggleAllCompletion)="onAllCompletion($event)"
      ></app-bosses-checklist>
      <app-bosses-checklist
        [bosses]="bossesChecklists.weeklyBosses"
        [weekly]="true"
        (selectBoss)="onSelectBoss($event)"
        (toggleCompletion)="onToggleCompletion($event)"
        (toggleAllCompletion)="onAllCompletion($event)"
      ></app-bosses-checklist>
    </div>

    <ng-template #noSelectedCharacter>
      <div class="flex items-center justify-center w-full h-full">
        <div class="text-2xl">
          <span>Please add and/or select a character in the &nbsp;</span>
          <a class="link link-primary" routerLink="/settings">Settings</a>
          <span>&nbsp; page in order to start checking off bosses!</span>
        </div>
      </div>
    </ng-template>
  </div>
</app-container>
