<div class="min-h-screen hero" [ngStyle]="{ 'background-image': getHeroBackgroundImage() }">
  <div class="hero-overlay bg-opacity-70"></div>
  <div class="hero-content text-neutral-content">
    <div class="md:w-1/2">
      <h1 class="pb-1 mb-3 text-2xl text-center border-b-4 border-primary md:text-3xl md:pb-3 md:border-b-8 lg:text-5xl whitespace-nowrap">
        {{ headerTitle }}
      </h1>
      <div class="text-lg font-thin text-center text-shadow-md lg:text-2xl lg:text-left">
        {{ bodyText }}
      </div>
      <div *ngIf="additionalBodyText !== null" class="mt-4 text-lg font-thin text-center text-shadow-md lg:text-2xl">
        {{ additionalBodyText }}
      </div>
    </div>
  </div>
</div>
