<div
  class="flex flex-col p-3 shadow bg-white h-full dark:border-gray-900 dark:bg-gray-800"
>
  <div class="h-14 flex justify-between items-center mt-1 mb-3">
    <div
      class="uppercase text-2xl whitespace-nowrap overflow-hidden overflow-ellipsis"
      [ngClass]="{ 'line-through': completedList }"
    >
      {{ listTitle }}
    </div>
    <div class="flex justify-center items-center space-x-2">
      <app-button
        *ngIf="!systemList && showActions && !isEditing"
        color="success"
        (click)="addNewDaily()"
        title="Add a new daily"
      >
        <fa-icon [icon]="addIcon" size="sm"></fa-icon>
      </app-button>

      <app-button
        *ngIf="showActions && dailies.length > 0"
        [color]="isEditing ? 'success' : 'secondary'"
        (click)="toggleEditDailiesList()"
        title="{{ isEditing ? 'Confirm' : 'Edit' }} dailies list"
      >
        <fa-icon
          [icon]="isEditing ? confirmIcon : editIcon"
          size="sm"
        ></fa-icon>
      </app-button>

      <app-button
        *ngIf="showActions && !isEditing && dailies.length > 0"
        color="info"
        (click)="completedList ? resetDailies() : completeAllDailies()"
        title="{{ completedList ? 'Reset' : 'Complete' }} all dailies"
      >
        <fa-icon
          [icon]="completedList ? resetIcon : checkAllIcon"
          size="sm"
        ></fa-icon>
      </app-button>

      <app-button
        *ngIf="!systemList && showActions && !isEditing"
        color="danger"
        (click)="deleteDailyList()"
        title="Delete dailies list"
      >
        <fa-icon [icon]="deleteIcon" size="sm"></fa-icon>
      </app-button>

      <app-button
        *ngIf="!isEditing"
        color="outline"
        (click)="showActions = !showActions"
        title="{{ showActions ? 'Hide' : 'Show' }} actions"
      >
        <div class="w-4">
          <fa-icon
            [icon]="showActions ? hideActionsIcon : showActionsIcon"
            size="sm"
          ></fa-icon>
        </div>
      </app-button>
    </div>
  </div>
  <ul
    class="flex flex-col space-y-1 dark:bg-gray-700 max-h-72 overflow-y-auto border dark:border-gray-900"
  >
    <ng-container *ngIf="dailies.length > 0; else noDailies">
      <ng-container *ngFor="let daily of dailies; let i = index">
        <li
          *ngIf="isEditing || !daily.hidden"
          class="flex justify-between p-1 hover:bg-gray-100 dark:hover:bg-gray-500"
          [ngClass]="{
            'line-through italic text-gray-400': daily.completed,
            'cursor-default': isEditing,
            'cursor-pointer': !isEditing
          }"
          [title]="daily.text"
          (click)="toggleCompletedDaily(i)"
        >
          <span
            class="ml-1 whitespace-nowrap overflow-hidden overflow-ellipsis"
          >
            {{ daily.text }}
          </span>
          <div class="flex mr-2 space-x-2 text-black dark:text-white">
            <span
              *ngIf="!systemList"
              class="cursor-pointer"
              (click)="editExistingDaily(i)"
            >
              <fa-icon *ngIf="isEditing" [icon]="editIcon"></fa-icon>
            </span>
            <span class="cursor-pointer" (click)="toggleDailyVisibility(i)">
              <fa-icon
                *ngIf="isEditing"
                [icon]="daily.hidden ? hiddenIcon : visibleIcon"
              ></fa-icon>
            </span>
            <span
              *ngIf="!systemList"
              class="cursor-pointer"
              (click)="removeDaily(i)"
            >
              <fa-icon *ngIf="isEditing" [icon]="removeIcon"></fa-icon>
            </span>
          </div>
        </li>
      </ng-container>
    </ng-container>
    <ng-template #noDailies>
      <li class="flex justify-center p-1">
        <span class="ml-1 whitespace-nowrap overflow-hidden overflow-ellipsis">
          Start adding dailies to this list!
        </span>
      </li>
    </ng-template>
  </ul>
</div>
