<header
  class="flex justify-between items-center h-16 w-auto px-8 bg-indigo-900 shadow-lg"
>
  <div class="flex">
    <img
      class="h-16 -mt-2 outline-none cursor-pointer"
      src="assets/images/logos/maple_dailies_logo.png"
      alt="Maple Dailies Logo"
      routerLink="/"
    />
  </div>
  <ul class="flex justify-center items-center lowercase space-x-3">
    <li *ngFor="let navLink of navLinks" class="text-white hover:text-gray-100">
      <a
        [routerLink]="navLink.route"
        [routerLinkActiveOptions]="{ exact: navLink.matchExactRouteUrl }"
        routerLinkActive="text-green-300"
        >{{ navLink.name }}</a
      >
    </li>
  </ul>
</header>
