<header
  class="flex md:justify-between justify-center items-center h-16 w-auto px-8 bg-indigo-900 dark:bg-black dark:text-white shadow-lg overflow-x-auto"
>
  <div class="flex">
    <img
      class="h-16 -mt-2 outline-none cursor-pointer md:block hidden"
      src="assets/images/logos/maple_dailies_logo.png"
      alt="Maple Dailies Logo"
      routerLink="/"
    />
  </div>
  <ul class="flex justify-center items-center lowercase space-x-3">
    <li *ngFor="let navLink of navLinks" class="text-white hover:text-gray-100">
      <a
        [routerLink]="navLink.route"
        [routerLinkActiveOptions]="{ exact: navLink.matchExactRouteUrl }"
        routerLinkActive="text-green-300"
        >{{ navLink.name }}</a
      >
    </li>
  </ul>
</header>

<app-modal
  headerTitle="Settings"
  [id]="settingsModalId"
  [maxWidth]="900"
  #modal
>
  <form
    *ngIf="form"
    [formGroup]="form"
    class="grid grid-cols-1 gap-6 mb-2"
    (submit)="saveSettings()"
  >
    <label class="block">
      <span>Character Image URL</span>
      <input
        type="text"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm text-black focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
        formControlName="imageUrl"
      />
      <div class="mt-3 text-sm">
        Currently, there is no offical MapleStory API (and
        <a
          class="underline text-blue-400"
          href="https://maplestory.gg"
          target="_blank"
          >maplestory.gg</a
        >
        does not yet have a public API) available, so in order to get your
        character to show up, you'll have to manually search them on the offical
        MapleStory Rankings
        <a
          class="underline text-blue-400"
          href="https://maplestory.nexon.net/rankings/overall-ranking/legendary"
          target="_blank"
          >here</a
        >, right click and copy the image URL, and paste it above. You should
        then see your character appear at the bottom right corner of the app!
      </div>
    </label>
  </form>

  <div class="flex justify-end space-x-3" footer-content>
    <app-button color="success" (click)="saveSettings()">Save</app-button>
    <app-button color="secondary" (click)="modal.closeModal()"
      >Cancel</app-button
    >
  </div>
</app-modal>
