<app-container>
  <div class="w-full">
    <div class="mb-2 text-lg">Manage Characters</div>
    <app-table [columns]="columns" [data]="data" #table>
      <thead table-header>
        <tr class="table-header-row">
          <th
            *ngFor="let column of columns"
            class="table-header-cell"
            ngClass="text-{{ column.textAlign }}"
            [ngStyle]="{
              'min-width': setColumnWidth(column.width),
              width: setColumnWidth(column.width),
              'max-width': setColumnWidth(column.width)
            }"
          >
            {{ column.headerTitle }}
          </th>
        </tr>
      </thead>
      <tbody table-body>
        <tr
          *ngFor="let row of table.rows; let i = index"
          class="cursor-pointer"
          [ngClass]="{
            'table-body-row': selectedCharacterId !== row.id,
            'table-body-row-selected': selectedCharacterId === row.id
          }"
          (click)="selectCharacter(row.id)"
        >
          <td
            class="flex items-center justify-center"
            [ngClass]="{ 'table-body-cell': selectedCharacterId !== row.id, 'table-body-cell-selected': selectedCharacterId === row.id }"
          >
            <app-image
              classes="w-20"
              [src]="row.characterImgSrcUrl || defaultCharacterImageSrc"
              altText="User Maplestory Character Image"
              (error)="onCharacterImageError(row)"
            ></app-image>
          </td>
          <td
            class="text-center"
            [ngClass]="{ 'table-body-cell': selectedCharacterId !== row.id, 'table-body-cell-selected': selectedCharacterId === row.id }"
          >
            {{ row.level }}
          </td>
          <td
            class="text-center"
            [ngClass]="{ 'table-body-cell': selectedCharacterId !== row.id, 'table-body-cell-selected': selectedCharacterId === row.id }"
          >
            <img [src]="getCharacterIcon(row.class)" alt="Class Icon" />
          </td>
          <td
            class="text-center"
            [ngClass]="{ 'table-body-cell': selectedCharacterId !== row.id, 'table-body-cell-selected': selectedCharacterId === row.id }"
          >
            {{ row.class }}
          </td>
          <td
            class="text-center"
            [ngClass]="{ 'table-body-cell': selectedCharacterId !== row.id, 'table-body-cell-selected': selectedCharacterId === row.id }"
          >
            {{ row.characterName }}
          </td>
          <td
            class="text-center"
            [ngClass]="{ 'table-body-cell': selectedCharacterId !== row.id, 'table-body-cell-selected': selectedCharacterId === row.id }"
          >
            <span *ngIf="row.level >= 200; else symbolyNotYetAvailable" class="flex flex-col">
              <span>Lvl {{ row.vanishingJourneyArcaneSymbol.currentLevel }}</span>
              <div
                class="w-full h-2 bg-gray-700 rounded shadow"
                [title]="calculateSymbolExperiencePercentage(row.vanishingJourneyArcaneSymbol)"
              >
                <div
                  class="h-2 bg-yellow-300 rounded"
                  [ngStyle]="{
                    width: calculateSymbolExperiencePercentage(row.vanishingJourneyArcaneSymbol)
                  }"
                ></div>
              </div>
            </span>
          </td>
          <td
            class="text-center"
            [ngClass]="{ 'table-body-cell': selectedCharacterId !== row.id, 'table-body-cell-selected': selectedCharacterId === row.id }"
          >
            <span *ngIf="row.level >= 210; else symbolyNotYetAvailable" class="flex flex-col">
              <span>Lvl {{ row.chuChuIslandArcaneSymbol.currentLevel }}</span>
              <div
                class="w-full h-2 bg-gray-700 rounded shadow"
                [title]="calculateSymbolExperiencePercentage(row.chuChuIslandArcaneSymbol)"
              >
                <div
                  class="h-2 bg-yellow-300 rounded"
                  [ngStyle]="{
                    width: calculateSymbolExperiencePercentage(row.chuChuIslandArcaneSymbol)
                  }"
                ></div>
              </div>
            </span>
          </td>
          <td
            class="text-center"
            [ngClass]="{ 'table-body-cell': selectedCharacterId !== row.id, 'table-body-cell-selected': selectedCharacterId === row.id }"
          >
            <span *ngIf="row.level >= 220; else symbolyNotYetAvailable" class="flex flex-col">
              <span>Lvl {{ row.lacheleinArcaneSymbol.currentLevel }}</span>
              <div class="w-full h-2 bg-gray-700 rounded shadow" [title]="calculateSymbolExperiencePercentage(row.lacheleinArcaneSymbol)">
                <div
                  class="h-2 bg-yellow-300 rounded"
                  [ngStyle]="{
                    width: calculateSymbolExperiencePercentage(row.lacheleinArcaneSymbol)
                  }"
                ></div>
              </div>
            </span>
          </td>
          <td
            class="text-center"
            [ngClass]="{ 'table-body-cell': selectedCharacterId !== row.id, 'table-body-cell-selected': selectedCharacterId === row.id }"
          >
            <span *ngIf="row.level >= 225; else symbolyNotYetAvailable" class="flex flex-col">
              <span>Lvl {{ row.arcanaArcaneSymbol.currentLevel }}</span>
              <div class="w-full h-2 bg-gray-700 rounded shadow" [title]="calculateSymbolExperiencePercentage(row.arcanaArcaneSymbol)">
                <div
                  class="h-2 bg-yellow-300 rounded"
                  [ngStyle]="{
                    width: calculateSymbolExperiencePercentage(row.arcanaArcaneSymbol)
                  }"
                ></div>
              </div>
            </span>
          </td>
          <td
            class="text-center"
            [ngClass]="{ 'table-body-cell': selectedCharacterId !== row.id, 'table-body-cell-selected': selectedCharacterId === row.id }"
          >
            <span *ngIf="row.level >= 230; else symbolyNotYetAvailable" class="flex flex-col">
              <span>Lvl {{ row.morassArcaneSymbol.currentLevel }}</span>
              <div class="w-full h-2 bg-gray-700 rounded shadow" [title]="calculateSymbolExperiencePercentage(row.morassArcaneSymbol)">
                <div
                  class="h-2 bg-yellow-300 rounded"
                  [ngStyle]="{
                    width: calculateSymbolExperiencePercentage(row.morassArcaneSymbol)
                  }"
                ></div>
              </div>
            </span>
          </td>
          <td
            class="text-center"
            [ngClass]="{ 'table-body-cell': selectedCharacterId !== row.id, 'table-body-cell-selected': selectedCharacterId === row.id }"
          >
            <span *ngIf="row.level >= 235; else symbolyNotYetAvailable" class="flex flex-col">
              <span>Lvl {{ row.esferaArcaneSymbol.currentLevel }}</span>
              <div class="w-full h-2 bg-gray-700 rounded shadow" [title]="calculateSymbolExperiencePercentage(row.esferaArcaneSymbol)">
                <div
                  class="h-2 bg-yellow-300 rounded"
                  [ngStyle]="{
                    width: calculateSymbolExperiencePercentage(row.esferaArcaneSymbol)
                  }"
                ></div>
              </div>
            </span>
          </td>
          <td
            class="space-x-2 text-center"
            [ngClass]="{ 'table-body-cell': selectedCharacterId !== row.id, 'table-body-cell-selected': selectedCharacterId === row.id }"
          >
            <app-button color="secondary" width="40" (click)="$event.stopPropagation(); editCharacter(row)">
              <fa-icon [icon]="editIcon"></fa-icon>
            </app-button>
            <app-button color="danger" width="40" (click)="$event.stopPropagation(); deleteCharacter(row)">
              <fa-icon [icon]="deleteIcon" size="lg"></fa-icon>
            </app-button>
          </td>
        </tr>
      </tbody>
      <div table-footer-actions>
        <app-button color="success" (click)="openCharacterModal()">Add New Character</app-button>
      </div>
    </app-table>
  </div>
</app-container>

<app-modal
  headerTitle="{{ isEditing ? 'Edit' : 'Add New' }} Character"
  [id]="addCharacterModalId"
  [maxWidth]="900"
  (close)="addCharacterForm.resetForm()"
  #characterFormModal
>
  <app-add-character-form
    [characterInfo]="selectedCharacter"
    [isEditing]="isEditing"
    (saveCharacter)="onSaveCharacter($event)"
    #addCharacterForm
  ></app-add-character-form>
  <div class="flex justify-end" footer-content>
    <div class="space-x-3">
      <app-button color="success" [disabled]="addCharacterForm.characterForm?.invalid || false" (click)="addCharacterForm.onSaveCharacter()"
        >Save Character</app-button
      >
      <app-button color="secondary" (click)="characterFormModal.closeModal()">Cancel</app-button>
    </div>
  </div>
</app-modal>

<app-modal headerTitle="Delete Character" [id]="deleteCharacterModalId" #deleteCharacterModal>
  <div>
    <div>
      Are you sure you want to delete your Lv. {{ characterToDelete?.level }} {{ characterToDelete?.class }}
      {{ characterToDelete?.characterName }}?
    </div>
    <div class="mt-3">This action cannot be undone.</div>
  </div>

  <div class="flex justify-end" footer-content>
    <div class="space-x-3">
      <app-button color="danger" (click)="confirmDeleteCharacter()">Delete Character</app-button>
      <app-button color="secondary" (click)="deleteCharacterModal.closeModal()">Cancel</app-button>
    </div>
  </div>
</app-modal>

<ng-template #symbolyNotYetAvailable>
  <span>—</span>
</ng-template>
