// TODO: move this to a top level scss stylesheet
.ng-select.custom ::ng-deep .ng-select-container {
  height: 2.625rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  line-height: 1.5rem;
  font-size: 1rem;
}
