<div class="flex items-center justify-between p-5 pl-8 pr-8 bg-white border-b dark:border-gray-900 dark:bg-gray-800">
  <span class="text-xl font-normal text-grey-darkest">
    <span *ngIf="!hasCustomHeader">
      {{ headerTitle }}
    </span>
    <div *ngIf="hasCustomHeader">
      <ng-content select="[header-title]"></ng-content>
    </div>
  </span>
  <div class="flex items-center space-x-2">
    <ng-content *ngIf="isExpanded" select="[item-actions]"></ng-content>
    <div
      class="flex items-center justify-center text-black bg-white border rounded-full cursor-pointer select-none border-grey w-7 h-7"
      (click)="toggleAccordion()"
      [title]="isExpanded ? 'Collapse' : 'Expand'"
    >
      <fa-icon [icon]="isExpanded ? collapseIcon : expandIcon"></fa-icon>
    </div>
  </div>
</div>
<div
  *ngIf="isExpanded"
  class="bg-white dark:bg-gray-700"
  [ngClass]="{
    'px-8 py-5': fluidContent,
    'px-8 py-5 border-l-4 dark:border-gray-800': !fluidContent
  }"
>
  <ng-content></ng-content>
</div>
