<app-container>
  <div *ngIf="!onDashboard" class="mb-4">
    <app-checkbox [value]="showOnlyHiddenIngredientRecipes" (click)="filterHiddenIngredientRecipes()">
      <span class="text-gray-900 dark:text-white font-medium"> Show Only Potentially Hidden Ingredient Recipes </span>
    </app-checkbox>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <app-muto-recipe *ngFor="let recipe of filteredRecipes" [recipe]="recipe"></app-muto-recipe>
  </div>
</app-container>
