<div class="flex flex-col h-screen">
  <div class="flex-none">
    <app-header></app-header>
  </div>
  <div class="flex-grow overflow-y-scroll z-10">
    <router-outlet></router-outlet>
  </div>
  <div class="flex-none">
    <app-footer></app-footer>
  </div>
</div>
<div *ngIf="selectedCharacter" class="absolute right-3 bottom-20 w-32 flex flex-col justify-center items-center">
  <img
    class="bg-cover h-32 w-32"
    [src]="characterImageSrc"
    alt="User Maplestory Character Image"
    (error)="characterImageSrc = defaultCharacterImageSrc"
  />
  <div class="px-1 bg-black bg-opacity-75 dark:bg-transparent text-white border border-gray-900">
    {{ selectedCharacter?.characterName }}
  </div>
</div>
