<footer
  class="flex justify-center items-center h-16 p-2 bg-gray-50 border-t border-gray-200 text-gray-700 dark:text-gray-300 dark:border-gray-800 dark:bg-gray-900"
>
  <span class="cursor-pointer" title="Visit me!">
    <a href="https://vizhnay.dev" target="_blank">
      <fa-icon [icon]="homepageIcon"></fa-icon>
    </a>
  </span>
  <span class="mx-2">/</span>
  <span class="cursor-pointer" title="Source code!">
    <a href="https://github.com/vzhny/maple-dailies" target="_blank">
      <fa-icon [icon]="githubIcon"></fa-icon>
    </a>
  </span>
  <span class="mx-2">/</span>
  <span
    class="cursor-pointer"
    (click)="toggleDarkMode()"
    title="{{ darkModeEnabled ? 'Disable' : 'Enable' }} dark mode!"
  >
    <fa-icon [icon]="darkModeEnabled ? darkModeIcon : lightModeIcon"></fa-icon>
  </span>
</footer>
