<div [id]="id" class="fixed top-0 bottom-0 left-0 right-0 overflow-auto z-1000">
  <div
    class="mx-auto my-10 border shadow-lg card border-neutral-focus rounded-box bg-neutral-focus"
    [ngStyle]="{ 'max-width': maxWidthPixels }"
  >
    <div class="card-body">
      <h2 class="flex justify-between card-title">
        <span>
          {{ headerTitle }}
        </span>
        <fa-icon class="cursor-pointer" [icon]="closeIcon" (click)="closeModal()"></fa-icon>
      </h2>
      <app-container>
        <ng-content></ng-content>
      </app-container>
      <div class="justify-end card-actions">
        <ng-content select="[footer-content]"></ng-content>
      </div>
    </div>
  </div>
</div>
<div class="fixed top-0 bottom-0 left-0 right-0 bg-black opacity-60 z-900"></div>
