<app-container>
  <div class="flex flex-col justify-center">
    <div class="mx-auto mt-6 mb-6 text-center xl:mb-0">
      <div class="text-4xl">
        Welcome to <span class="text-indigo-800 dark:text-green-300">Maple Dailies </span>
        <span class="hidden xl:inline-block"> — a tool built by a fellow player, for fellow players!</span>
      </div>
      <div class="mb-4 text-xl font-thin lg:mb-0">Check out some of the app features available to you below!</div>
    </div>
    <app-home-details-hero-section
      *ngFor="let info of sections; let i = index"
      [headerTitle]="info.headerTitle"
      [bodyText]="info.bodyText"
      [imageSrc]="info.imageSrc"
      [imageFirst]="i % 2 === 0"
    ></app-home-details-hero-section>
  </div>
</app-container>
