<div class="flex items-center justify-center space-x-2">
  <div class="outline-none" tabindex="0" #dropdown>
    <div class="flex-1 outline-none dropdown dropdown-top" tabindex="0">
      <button class="btn btn-square btn-outline btn-primary">
        {{ pageSize }}
      </button>
      <ul class="w-20 shadow menu dropdown-content bg-base-100 rounded-box">
        <li *ngFor="let option of pageSizeOptions" tabindex="0" (click)="onPageSizeChange(option); dropdown.focus()">
          <a>
            {{ option }}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="btn-group">
    <button class="btn btn-sm" (click)="movePage(selectedPage - 1)" [ngClass]="{ 'btn-disabled': selectedPage === 1 }">
      <fa-icon [icon]="previousIcon"></fa-icon>
    </button>
    <button
      *ngFor="let page of pages"
      (click)="selectPage(page)"
      class="btn btn-sm"
      [ngClass]="{ 'bg-primary text-primary-content hover:bg-primary-focus': page === selectedPage }"
    >
      {{ page }}
    </button>
    <button class="btn btn-sm" (click)="movePage(selectedPage + 1)" [ngClass]="{ 'btn-disabled': selectedPage === pages.length }">
      <fa-icon [icon]="nextIcon"></fa-icon>
    </button>
  </div>
</div>
