<div class="flex items-center justify-center space-x-2">
  <div class="w-20 h-8">
    <ng-select
      [items]="pageSizeOptions"
      [(ngModel)]="pageSize"
      [clearable]="false"
      appendTo="body"
      (change)="onPageSizeChange()"
    ></ng-select>
  </div>

  <div class="btn-group">
    <button class="btn btn-sm" (click)="movePage(selectedPage - 1)" [ngClass]="{ 'btn-disabled': selectedPage === 1 }">
      <fa-icon [icon]="previousIcon"></fa-icon>
    </button>
    <button
      *ngFor="let page of pages"
      (click)="selectPage(page)"
      class="btn btn-sm"
      [ngClass]="{ 'bg-primary text-primary-content hover:bg-primary-focus': page === selectedPage }"
    >
      {{ page }}
    </button>
    <button class="btn btn-sm" (click)="movePage(selectedPage + 1)" [ngClass]="{ 'btn-disabled': selectedPage === pages.length }">
      <fa-icon [icon]="nextIcon"></fa-icon>
    </button>
  </div>
</div>
