<div class="flex items-center w-full p-3 bg-white shadow dark:border-gray-900 dark:bg-gray-800">
  <form *ngIf="filterForm" [formGroup]="filterForm" class="grid w-full grid-cols-1 gap-3 mb-2 md:grid-cols-3 lg:grid-cols-6">
    <label class="block col-span-3">
      <span class="space-x-2">Selected Character(s)</span>
      <ng-select
        [items]="characterList"
        [selectOnTab]="true"
        [multiple]="true"
        [closeOnSelect]="false"
        [hideSelected]="true"
        placeholder="All"
        class="form-control custom"
        formControlName="characterIds"
        bindValue="id"
      >
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <span class="p-1">{{ item.characterName }}</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index">
          <span>{{ item.characterName }} (Lv. {{ item.level }} {{ item.class }})</span>
        </ng-template>
      </ng-select>
    </label>

    <div class="col-span-3">
      <div class="mb-3">Show Sections</div>
      <div class="flex flex-col items-center space-x-4 space-y-2 sm:flex-row sm:space-y-0">
        <app-checkbox [control]="showDailies">
          <span class="font-medium text-gray-900 dark:text-white">Dailies</span>
        </app-checkbox>
        <app-checkbox [control]="showBosses">
          <span class="font-medium text-gray-900 dark:text-white">Bosses Checklists</span>
        </app-checkbox>
        <app-checkbox [control]="showArcaneDailiesInfo">
          <span class="font-medium text-gray-900 dark:text-white">Arcane Dailies Info</span>
        </app-checkbox>
        <app-checkbox [control]="showHardMutoRecipes">
          <span class="font-medium text-gray-900 dark:text-white">Hard Muto Recipes</span>
        </app-checkbox>
      </div>
    </div>
  </form>
</div>
