/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "DotGothic16";
    src: url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
  }

  @font-face {
    font-family: "Ubuntu Mono";
    src: url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap");
  }

  body,
  html {
    @apply bg-gray-50 dark:bg-gray-900 dark:text-white h-screen overflow-hidden;

    ::-webkit-scrollbar {
      @apply h-2 w-2;
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-indigo-900 hover:bg-indigo-800 dark:bg-gray-900 dark:hover:bg-gray-800;
    }

    ::-webkit-scrollbar-track {
      @apply bg-transparent;
    }
  }
}

@layer components {
  // * Table specific Tailwind components

  .table-header-row {
    @apply bg-gray-800 dark:bg-black text-white uppercase text-sm leading-normal;
  }

  .table-header-cell {
    @apply py-3 px-6;
  }

  .table-body-row {
    @apply border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600 hover:bg-gray-100;
  }

  .table-body-cell {
    @apply py-3 px-6 whitespace-nowrap font-light;
  }

  .table-no-data-available-cell {
    @apply p-2 bg-gray-300 text-gray-600 text-center uppercase;
  }
}
