/* You can add global styles to this file, and also import other style files */
@import '~@ng-select/ng-select/themes/default.theme.css';

@import '@fontsource/ibm-plex-sans-condensed';
@import '@fontsource/pacifico';

@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/translucent.css';
@import '~tippy.js/animations/scale.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: fit-content;
}

.ng-select.custom {
  .ng-select-container {
    height: 3rem !important;
  }
}

@layer base {
  body,
  html {
    @apply bg-base-300 min-h-screen;

    ::-webkit-scrollbar {
      @apply h-2 w-2;
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-base-300;
    }

    ::-webkit-scrollbar-track {
      @apply bg-base-200;
    }
  }
}

@layer components {
  .tippy-box {
    @apply bg-base-300;
  }

  .ng-select.custom.ng-select-single,
  .ng-select.custom.ng-select-multiple {
    .ng-value-container {
      .ng-placeholder {
        @apply text-base-content text-base top-3;
      }
    }
  }

  .ng-select.custom {
    .ng-select-container {
      @apply input input-bordered h-12 text-base-content;
    }

    .ng-dropdown-panel {
      @apply bg-base-100 text-base-content border-0 shadow-lg;

      .ng-option,
      .ng-option.ng-option-marked {
        @apply bg-base-100 text-base-content;

        &:hover {
          @apply bg-base-300 text-base-content;
        }
      }

      .ng-dropdown-panel-items {
        @apply bg-base-100 text-base-content;

        .ng-option-label {
          @apply text-base-content;
        }
      }

      &.ng-select-multiple {
        @apply bg-base-100 text-base-content border-0 shadow-lg;

        .ng-option,
        .ng-option.ng-option-marked {
          @apply bg-base-100 text-base-content;

          &:hover {
            @apply bg-base-300 text-base-content;
          }
        }

        .ng-dropdown-panel-items {
          @apply bg-base-100 text-base-content;

          .ng-option-label {
            @apply text-base-content;
          }
        }
      }
    }
  }

  .ng-select.custom.ng-select-multiple {
    .ng-select-container {
      .ng-value-container {
        .ng-value {
          @apply badge;
          .p-1 {
            @apply bg-base-300;
          }

          .ng-value-icon {
            @apply bg-base-300;

            &.right {
              @apply border-0 hover:bg-base-300;
            }
          }
        }
      }
    }
  }

  // Applicable when appendTo="body" is set
  .ng-dropdown-panel {
    @apply bg-base-100 text-base-content border-0 shadow-lg;

    .ng-option,
    .ng-option.ng-option-marked {
      @apply bg-base-100 text-base-content;

      &:hover {
        @apply bg-base-300 text-base-content;
      }
    }

    .ng-dropdown-panel-items {
      @apply bg-base-100 text-base-content;

      .ng-option-label {
        @apply text-base-content;
      }
    }

    &.ng-select-multiple {
      @apply bg-base-100 text-base-content border-0 shadow-lg;

      .ng-option,
      .ng-option.ng-option-marked {
        @apply bg-base-100 text-base-content;

        &:hover {
          @apply bg-base-300 text-base-content;
        }
      }

      .ng-dropdown-panel-items {
        @apply bg-base-100 text-base-content;

        .ng-option-label {
          @apply text-base-content;
        }
      }
    }
  }

  .table {
    &.table-zebra {
      tbody {
        tr {
          td:first-child,
          td:last-child {
            @apply rounded-none;
          }
        }
      }
    }

    th:first-child {
      @apply relative;
    }
  }
}

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 2px 2px 4px rgba(#000000, 0.4);
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px rgba(#000000, 0.4);
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px rgba(#000000, 0.4);
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }
}
