<div class="bg-white overflow-x-auto" [ngClass]="tableClasses">
  <table class="min-w-max w-full table-auto border border-gray-900 dark:border-gray-800 rounded-md">
    <ng-content select="[table-header]"></ng-content>
    <ng-container *ngIf="rows.length > 0; else noDataAvailable">
      <ng-content select="[table-body]"></ng-content>
    </ng-container>
    <ng-content select="[table-footer]"> </ng-content>
    <ng-template #noDataAvailable>
      <tbody>
        <td
          class="p-4 bg-gray-200 dark:bg-gray-800 text-gray-600 dark:text-white text-center uppercase tracking-wide"
          [attr.colspan]="columns.length"
        >
          No Data Available
        </td>
      </tbody>
    </ng-template>
  </table>
</div>
