<div class="overflow-x-auto bg-base-100">
  <table class="table min-w-full table-zebra" [ngClass]="{ 'table-compact': compact }">
    <ng-content select="[table-header]"></ng-content>
    <ng-container *ngIf="rows.length > 0; else noDataAvailable">
      <ng-content select="[table-body]"></ng-content>
    </ng-container>
    <tfoot *ngIf="pagination || showFooter">
      <tr>
        <td class="p-4 border-t-2 border-opacity-20 border-base-300" [attr.colspan]="columns.length">
          <div class="flex" [ngClass]="setFlexJustifyClass()">
            <div>
              <ng-content select="[table-footer-actions]"></ng-content>
            </div>
            <app-pagination *ngIf="pagination" [data]="data" (paginate)="onPaginate($event)"></app-pagination>
          </div>
        </td>
      </tr>
    </tfoot>
    <ng-template #noDataAvailable>
      <tbody>
        <td class="p-4 tracking-wide text-center uppercase font-condensed" [attr.colspan]="columns.length">No Data Available</td>
      </tbody>
    </ng-template>
  </table>
</div>
