<div
  *ngIf="recipe !== null"
  class="h-full shadow border-b dark:border-black rounded-md bg-white dark:bg-gray-800"
  [ngClass]="{
    'bg-indigo-800 text-white dark:bg-indigo-800 dark:text-white':
      recipe.canHaveHiddenIngredientsFlg
  }"
>
  <div
    class="p-2 border-b border-black"
    [ngClass]="{
      'bg-indigo-900 dark:bg-indigo-900': recipe.canHaveHiddenIngredientsFlg
    }"
  >
    {{ recipe.name }}
  </div>
  <div
    class="flex justify-between items-center p-2"
    [ngClass]="{
      'bg-indigo-800 dark:bg-indigo-800': recipe.canHaveHiddenIngredientsFlg
    }"
  >
    <app-muto-recipe-ingredient-info
      [ingredient]="recipe.ingredient1"
    ></app-muto-recipe-ingredient-info>
    <app-muto-recipe-ingredient-info
      [ingredient]="recipe.ingredient2"
    ></app-muto-recipe-ingredient-info>
  </div>
  <div
    class="flex justify-between items-center p-2"
    [ngClass]="{
      'bg-indigo-800 dark:bg-indigo-800': recipe.canHaveHiddenIngredientsFlg
    }"
  >
    <div
      *ngIf="recipe.ingredient3"
      [ngClass]="{
        'bg-indigo-800 dark:bg-indigo-800': recipe.canHaveHiddenIngredientsFlg
      }"
    >
      <app-muto-recipe-ingredient-info
        [ingredient]="recipe.ingredient3"
      ></app-muto-recipe-ingredient-info>
    </div>
    <div
      *ngIf="recipe.ingredient4"
      [ngClass]="{
        'bg-indigo-800 dark:bg-indigo-800': recipe.canHaveHiddenIngredientsFlg
      }"
    >
      <app-muto-recipe-ingredient-info
        [ingredient]="recipe.ingredient4"
      ></app-muto-recipe-ingredient-info>
    </div>
  </div>
</div>
