<div *ngIf="recipe !== null" class="h-32 w-80 shadow border-b rounded-md m-2">
  <div class="p-2 border-b">
    {{ recipe.name }}
  </div>
  <div class="flex justify-between items-center p-2">
    <app-muto-recipe-ingredient-info
      [ingredient]="recipe.ingredient1"
    ></app-muto-recipe-ingredient-info>
    <app-muto-recipe-ingredient-info
      [ingredient]="recipe.ingredient2"
    ></app-muto-recipe-ingredient-info>
  </div>
  <div class="flex justify-between items-center p-2">
    <div *ngIf="recipe.ingredient3">
      <app-muto-recipe-ingredient-info
        [ingredient]="recipe.ingredient3"
      ></app-muto-recipe-ingredient-info>
    </div>
    <div *ngIf="recipe.ingredient4">
      <app-muto-recipe-ingredient-info
        [ingredient]="recipe.ingredient4"
      ></app-muto-recipe-ingredient-info>
    </div>
  </div>
</div>
