<app-container>
  <div class="flex flex-col w-full">
    <div class="divider">About The Site</div>
    <div class="w-full mx-auto md:w-8/12">
      <div class="mb-2">
        Hi there! I made this app because I was getting frustrated having to maintain 2-3 spreadsheets, along with countless lists trying to
        track my progression in Maple. I tried a bunch of different options, one of which was setting up a Notion page and while that lasted
        me a good while, I eventually ended up deciding to develop my own solution!
      </div>
      <div class="mb-2">
        I wanted this app to mainly focus on easy access to everything I need to do in Maple; generally Arcane River dailies and bossing. I
        also wanted to include information I always revisit, like Muto recipes, training maps, and which Arcane dailies to always re-roll.
      </div>
      <div>
        I'm definitely open to suggestions and constructive criticism! Just reach out to me either in Maple (in Bera, either
        <code class="p-1 bg-neutral-focus">Beefies</code> or <code class="p-1 bg-neutral-focus">Bøscø</code>), on discord at
        <code class="p-1 bg-neutral-focus">vzhny#3079</code>, or create a
        <a class="link link-primary" href="https://github.com/vzhny/maple-dailies" target="_blank">Github issue</a>.
      </div>
    </div>
    <div class="divider">About Me</div>
    <div class="w-full mx-auto md:w-8/12">
      <div class="mb-2">
        I'm a software engineer based in NYC currently working full-time. Besides MapleStory, I enjoy
        <a class="link" href="https://www.youtube.com/watch?v=OVFsq9FQBlc" target="_blank">watching baseball</a> and playing board games! I
        also have a wonderful little kitty named Beef Patty.
      </div>
      <div class="flex items-center justify-center my-8">
        <app-image
          classes="w-44 h-44 md:w-60 md:h-60 mask mask-circle"
          src="assets/images/misc/beef_patty.png"
          altText="Beef Patty the Cat"
        ></app-image>
      </div>
      <div>
        If you wanna get in contact, feel free to find me in Maple or visit my
        <a class="link link-primary" href="https://vizhnay.dev/" target="_blank">home page</a> and shoot me an email! I've been cutting out
        social media from my life so I most likely won't see any DMs on any social media platforms.
      </div>
    </div>
  </div>
</app-container>
